/*==== Open Sans ====*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*==== Alfa Slab One ====*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/*==== Fjalla One ==== */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/*==== Pacifico ====*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*==== Compass(Lisboa) ====*/
@font-face {
    font-family: 'Compass';
    src: url('../font/lisboa/CompassBold.ttf');
}

/*==== Aptifer Slab(Portugal) ====*/
@font-face {
    font-family: 'Aptifer Slab';
    src: url('../font/Portugal/Aptifer\ Slab\ LT\ W01\ Medium.ttf');
}