/*==== Preferences ====*/
html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin:0px;
    padding:0px;
}

a {
    text-decoration: none;
}

.icon {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tag {
    font-family: "Pacifico", Roboto;
    font-size:16px;
}

/*==== Useful ====*/
.hidden {
    visibility: hidden;
    z-index:-1;
}

.vanish {
    display: none;
}

.bold {
    font-weight: 600 !important;
}

/*==== Page container ====*/
#container {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:100vh auto 60px 60px;
}

main {
    grid-column: 1/4;
    grid-row: 2/4;
}

main article {
    width: 100%;
    min-height: 400px;

    margin-bottom:2px;

    display:flex;
    justify-content: center;
    align-items: center;
}

main article .container {
    
    margin:0px 10px;

    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

footer {
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: yellowgreen;
}

/*==== Media Query ====*/
@media screen and (max-width: 650px) {
    #container {
        grid-template-rows:800px auto 60px 60px;
    }
}