header {
    grid-column: 1/4;
    grid-row: 1/2;

    font-size:16px;

    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

header.videoON {
    color:#ffffff !important;
    text-shadow: 0px 0px 5px #000000;
}

header.videoON #video {
    display: none;
}

/*==== Video ====*/
header.videoON #video {
    grid-column: 2/6;
    grid-row: 2/5;

    display: block;
    z-index: -1;

    position: relative;
}

header.videoON #video #videoBG {
    min-width: 100%;
    min-height: 100%;
    position: absolute;

    object-fit: cover;

    border-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
}

/*==== Top ====*/
/*==== Top ====*/
header .top {
    grid-column: 1/6;
    grid-row: 1/2;
}

header .top .container {
    width: 100%;
    height: 100%;

    font-size:16px;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

header .top .container .messageContainer, header .top .container .menuButtonContainer {
    width: 100%;
    height: 100%;
}

header .top .container .messageContainer {
    grid-column: 3/4;
    grid-row: 1/2;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

header .top .container .messageContainer .message {
    margin:10px;
    padding:0px 5px;
}

header .top .container .messageContainer .message p {
    margin:0px;

    font-family:"Roboto", sans-serif;
    font-weight: 600;
    font-size:0.8em;
}

header .top .container .menuButtonContainer {
    grid-column: 3/4;
    grid-row: 2/3;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

/*==== Container ====*/
header .container {
    grid-column: 1/5;
    grid-row: 2/5;

    cursor:default;

    display:flex;
    justify-content: center;
    align-items: center;
}

header .container .containerBox {
    font-family: "Open Sans" ,"Alfa Slab One", Roboto;
    font-weight: 400;

    display: flex;
    flex-direction: column;
}

/*==== Title ====*/
header .container .containerBox .title p {
    font-size: 4em;
}

header .container .containerBox .title p a {
    color:#000000;
}

header .container .containerBox .title p .name {
    font-weight: 600;

    text-shadow: 2px 2px 3px #fdcb6e;

    transition-property: text-shadow;
    transition-duration: 0.3s;
}

header .container .containerBox .title p .name:hover {
    text-shadow: 1px 1px 4px #fdcb6e;
}

header .container .containerBox .title p .tag {
    font-size:0.3em;
    margin-right:20px;
}

header .container .containerBox .title p:nth-child(2) {
    transform:translateX(150px);
}

/*==== Sub-Title ====*/
header .container .containerBox .subTitle {
    margin-left: 60px;
}

header .container .containerBox .subTitle p {
    font-weight: 600;
    font-size: 1em;
    padding:0px 20px;
}

header .container .containerBox .subTitle p .tag {
    font-weight: 400;
}

header .container .containerBox .subTitle p .tag:last-child {
    transition-property: transform;
    transition-duration: 0.3s;

    display: inline-block;
}

header .container .containerBox .subTitle p small {
    opacity: 0;
}

header .container .containerBox .subTitle p small .tag:last-child {
    transform: translateX(-2.5px);

    transition: transform 0.3s ease;

    display: inline-block;
}

header .container .containerBox .subTitle p small:hover .tag:last-child {
    transform: translateX(4px);
}

header .container .containerBox .subTitle p sub:hover + .tag:last-child {
    transform: translateX(5px) ;
}

header .container .containerBox .subTitle p small .tag {
    font-size: 8px;
}

header .container .containerBox .subTitle p small .emoji {
    transform: rotate(-20deg) scale(0.5) translateY(3px) translateX(-4px);

    transition-property: transform;
    transition-duration: 0.3s;

    display: inline-block;
}

header .container .containerBox .subTitle p small:hover .emoji {
    transform: rotate(-20deg) scale(1.3) translateY(3px) translateX(1px);
}

/*==== GitHub Button ====*/
header .container .containerBox .buttonContainer {
    width: 250px;
    height: 80px;

    margin-top:80px;
    margin-left: 100px;
}

header .container .containerBox .buttonContainer a.button  {
    position: relative;
}

header .container .containerBox .buttonContainer a.button .layer1  {
    background-color: #00b894;
    border:2px solid #00b894;

    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header .container .containerBox .buttonContainer a.button .layer1, header .container .containerBox .buttonContainer a.button .layer2 {
    width: 200px;
    height: 50px;

    transition-property: background-color border-color;
    transition-duration: 0.5s;

    border-radius: 7px;
}

header .container .containerBox .buttonContainer a.button:hover .layer1 {
    background-color: #24292e;
    border-color:#24292e;
}

header .container .containerBox .buttonContainer a.button .layer1 span  {
    font-family: "Open Sans" , Roboto;
    font-weight: 400;
    color:#ffffff;

    margin-right:5px;
}

header .container .containerBox .buttonContainer a.button .layer1 .icon {
    transition-property: transform;
    transition-duration: 0.3s;
}

header .container .containerBox .buttonContainer a.button:hover .layer1 .icon {
    transform: translateX(0px);
    animation: none;
}

header .container .containerBox .buttonContainer a.button .layer2 {
    position: absolute;
    top: 6px;
    left: 6px;
    
    border:2px solid rgb(25, 185, 143);
    border-bottom-right-radius: 9px;

    z-index: 1;
}

header .container .containerBox .buttonContainer a.button:hover .layer2 {
    border-color:#24292e;

    top: 4px;
    left: 4px;
}

header .container .containerBox .buttonContainer a.button:active .layer2 {
    border-color:#24292e;

    top: 0px;
    left: 0px;
}

/*==== Social ====*/
header .social {
    grid-column: 5/6;
    grid-row: 2/5;

    display: flex;
    align-items: center;
}

header .social ul {
    display: flex;
    flex-direction: column;
}

header .social ul li {
    width: 70px;
    height: 70px;
}

header .social ul li:not(:last-child) {
    margin-bottom: 20px;
}

header .social ul li a .button {
    width: 100%;
    height: 100%;
    /* background-color: white; */
    text-shadow: none;
    
    border-width:3px;
    border-style: solid;
    border-radius: 8px;

    transition-property: transform border-radius;
    transition-duration: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .social ul li:nth-child(1) a:hover .button {
    transform: rotate(-10deg) translate(10px, 10px) scale(0.8);
    border-radius: 50%;
}

header .social ul li:nth-child(2) a:hover .button {
    transform: rotate(10deg) translate(-10px, -10px) scale(0.8);
    border-radius: 20px;
}

header .social ul li:nth-child(3) a:hover .button {
    transform: rotate(-10deg) translate(10px, 10px) scale(0.8);
    border-radius: 1px;
}

header .social ul li a .button .icon {
    font-size: 2em;

    transition-property: transform;
    transition-duration: 0.3s;
}

header .social ul li:nth-child(1) a:hover .icon {
    transform: rotate(20deg) translate(-10px, -10px) scale(2);
}

header .social ul li:nth-child(2) a:hover .icon {
    transform: rotate(-20deg) translate(10px, 10px) scale(2);
}

header .social ul li:nth-child(3) a:hover .icon {
    transform: rotate(20deg) translate(-10px, -10px) scale(2);
}

/*==== Media Queries(Width) ====*/
@media screen and (max-width: 1600px) {
    header .social {
        justify-content: center;
    }
}

@media screen and (max-width: 1300px) {
    header .container {
        grid-column: 1/6;
        grid-row: 2/5;
    }

    header .container .containerBox {
        align-items: center;
    }

    header .container .containerBox .title p {
        margin:50px 0px;
    }

    header .container .containerBox .title p:nth-child(2) {
        transform:translateX(80px);
    }

    header .container .containerBox .subTitle {
        margin-left: 90px;
    }

    header .container .containerBox .subTitle .smallSmall {
        visibility: hidden;
    }

    header .container .containerBox .buttonContainer {
        margin-left: 0px;

        display: flex;
        justify-content: center;
    }

    header .social {
        grid-column: 1/6;
        grid-row: 5/6;

        justify-content: center;
    }

    header .social ul {
        display: flex;
        flex-direction: row;
    }

    header .social ul li {
        margin-bottom: 0px;
    }

    header .social ul li:not(:last-child) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 780px) {

    header {
        grid-template-rows: 100px repeat(4, 1fr);
    }

    header .container .containerBox .title p {
        font-size: 3em;
    }

    header .container .containerBox .title p:nth-child(2) {
        transform:translateX(55px);
    }

    header .container .containerBox .subTitle {
        margin-left: 20px;
    }

    header .container .containerBox .subTitle p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 650px) {

    header {
        grid-template-rows: 70px repeat(4, 1fr);
    }

    header .container .containerBox {
        align-items: flex-start;
    }

    header .container .containerBox .title p {
        font-size: 2em;
        margin:0px;
        margin-bottom:10px;
    }

    header .container .containerBox .title p .tag {
        margin-right: 10px;
    }

    header .container .containerBox .title p:nth-child(2) {
        transform:translateX(0px);
    }

    header .container .containerBox .title p:nth-child(2) .icon.rocket {
        width: 20px !important;
        height: 20px !important;
    }

    header .container .containerBox .subTitle {
        margin-top: 10px;
        margin-left: 0px;
    }

    header .container .containerBox .subTitle p {
        font-size: 0.6em;
        padding:0px;
    }

    header .container .containerBox .subTitle p .tag {
        font-size: 1em;
    }

    header .container .containerBox .buttonContainer {
        width:auto;
    }

    .pTagReturnEffect {
        animation: none;
    }

    .fadeIn {
        display: none;
    }

    .smallSmall {
        visibility: visible !important;
        margin-top: 13px;
        margin-left: 20px;
        opacity: 1 !important;
        display: inline-block;
    }

    header .container .containerBox .buttonContainer a.button .layer1, header .container .containerBox .buttonContainer a.button .layer2 {
        width: 150px;
        height: 40px;
    }

    header .container .containerBox .buttonContainer a.button .layer1 span {
        font-size: 0.8em;
    }

    header .container .containerBox .buttonContainer a.button .layer1 .icon {
        width: 14px;
        height: 14px;
    }
}

/*==== Media Queries(Height) ====*/
@media screen and (max-height: 850px) {
    header {
        min-height: 850px;
    }
}

/*==== Media Queries Video ====*/
@media screen and (max-width: 1650px) {
    header.videoON {
        color:#ffffff !important;
        text-shadow: 0px 0px 5px #000000;
    }

    header.videoON #video {
        display: none;
    }
}