/*==== Nav ====*/
.icon.about {
    width: 50%;
    height: 50%;
    background-image: url("../icon/person1_white.png");
}

a:hover .icon.about {
    background-image: url("../icon/person2_white.png");
}

.icon.travel {
    width: 50%;
    height: 50%;
    background-image: url("../icon/travel1_white.png");
}

a:hover .icon.travel {
    background-image: url("../icon/travel2_white.png");
}

.icon.tech {
    width: 50%;
    height: 50%;
    background-image: url("../icon/tech1_white.png");
}

a:hover .icon.tech {
    background-image: url("../icon/tech2_white.png");
}

.icon.history {
    width: 50%;
    height: 50%;
    background-image: url("../icon/history1_white.png");
}

a:hover .icon.history {
    background-image: url("../icon/history2_white.png");
}

/*==== Header ====*/
.icon.rocket {
    width: 40px;
    height: 40px;

    /*
    background-image: url("../icon/rocket.png");
    background-position: cover;
    */
}

.icon.github {
    width: 20px;
    height: 20px;
    background-image: url("../icon/github_white.png");
    background-position: cover;
}

/*==== About ====*/
.icon.mapPoint {
    font-size: 30px;
    color:#EA4335;
    text-shadow: 0px 0px 5px #000000;
}